---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Blogs from '../components/Blogs.astro';
import Contact from '../components/Contact.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Sebastian Arrieta - Software Engineer at Disruptica. Personal portfolio and blog." />
		<title>Sebastian Arrieta - Software Engineer</title>
	</head>
	<body>
		<Hero />
		<About />
		<Blogs />
		<Contact />
	</body>
</html>
