---
---

<div class="hero">
  <h1>Sebastian Arrieta</h1>
  <h2>Software Engineer @ <a href="https://disruptica.com" target="_blank" rel="noopener noreferrer">Disruptica</a></h2>
</div>

<style>
  .hero {
    margin-bottom: 1.5rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }
</style>
